@import "tailwindcss";

@theme {
  --color-green-500: oklch(0.3898 0.045 184.62);
  --color-green-700: oklch(0.8038 0.045 184.62);
  --color-white-500: oklch(0.8482 0.0422 0);
  --color-gray-800: oklch(0.8744 0.0234 264.53);
}

body {
  background-color: var(--color-gray-800);
  color: var(--color-green-500);
}
